html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}





.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}


.header{
    padding-top: 31px;
}

.logo{
    width: 140px;
}

.sum{
    font-weight: bold;
    font-size: 40px;
}

.title{
    font-weight: normal;
    font-size: 35px;
}

.sub-title{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}

.present-title-img{
    margin-top: 40px;
    max-width: 100%;
    height: auto;
}

.present .container{
    display: flex;
    justify-content: space-between;
}

.present-title{
    /*width: 45%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: flex-end;
}

.present-wrap{
    margin-left: 21px;
}

.wrap-1, .wrap-2, .wrap-3{
    display: flex;
}

.box-wrap{
    padding: 20px 30px 20px 30px;
    background: #FFFFFF;
    border-radius: 20px;

    margin-left: 30px;
    margin-bottom: 30px;
    height: auto;
}

.box-1, .box-4, .box-7{
    margin-left: 0 !important;
}

.box-7, .box-8, .box-9{
    margin-bottom: 0 !important;
}

.box-wrap img{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}





.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
}

.confetti-1, .confetti-2, .confetti-3, .confetti-4, .confetti-5, .confetti-6, .confetti-7, .confetti-8, .confetti-9{
    position: absolute;
    top: -10px;
    z-index: -1;
    opacity: 0;
}



.footer {
    text-align: center;
    padding: 15px 0 15px;
}

.f-link{
    list-style: none;
    outline: none;
    text-decoration: none;
    display: inline-block;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: rgba(255, 255, 255, 0.2);
}






/*AGAIN*/
.again-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}

.again-box {
    max-width: 847px;
    width: calc(100% - 50px);
    background: #FFFFFF;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 11px 15px 12px 24px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;

    flex-wrap: wrap;
    justify-content: center;
}

.again-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #323232;
}

.again_btn {
    font-weight: bold;
    font-size: 24px;
    color: #323232;
    background: #FFD600;
    border-radius: 30px;
    padding: 11px 45px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}

.again_btn:hover {
    background: #fff805;
}

.again-img{
    max-width: 100%;
    display: block;
    height: auto;
}

/*END-AGAIN*/

.d-none {
    display: none;
}

.add-opacity-1 {
    opacity: 1;
}
















/*START-STYLES FOR MAX-WIDTH*/
@media (max-width: 1366px) {
    .box-wrap img {
        max-width: 90%;
    }
}


/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

    .sum {
        font-size: 30px;
    }
    .title {
        font-size: 19px;
    }
    .sub-title {
        font-size: 16px;
        margin-top: 15px;
    }
    .present-title-img {
        margin-top: 20px;
    }



    .box-wrap {
        padding: 10px 20px 10px 20px;
        margin-left: 13px;
        margin-bottom: 13px;
        border-radius: 10px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    .form-control {
        padding: 10px 12px;
    }
    .form-group {
        margin-bottom: 7.25px;
    }

    .form-main-box {
        max-width: 350px;
        padding: 20px 29px 13px 29px;
        border: 3px solid #FFD600;
        border-radius: 10px;
    }

    input[type="checkbox"] + label {
        font-size: 12px;
        line-height: 14px;
    }

    .form-title {
        font-size: 30px;
    }
    .btn-play-form {
        padding: 8px 40px;
        font-size: 20px;
    }

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .again-box-text{
        text-align: center;
    }
    .again_btn {
        margin-bottom: 27px;
    }


    /*.footer {*/
    /*    text-align: center;*/
    /*    padding: 15px 0 15px;*/
    /*}*/
}

/*Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {



    .wrapper{
        background: url("../images/bg-mob.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .present .container {
        flex-direction: column;
    }

    .present-title {
        /*width: 100%;*/
        align-items: center;
        justify-content: unset;
    }

    .present-wrap{
        margin-left: 0;
        margin-top: 28px;
    }

    .present-title-img {
        display: none;
    }

    .header {
        padding-top: 15px;
    }


    .sum {
        font-size: 28px;
    }
    .title {
        font-size: 24px;
    }
    .sub-title {
        font-size: 16px;
    }

    .again-text {
        font-size: 18px;
        line-height: 21px;
    }
    .again_btn {
        font-size: 20px;
    }


    .box-wrap img {
        max-width: 100%;
    }







    .loader-pr {
        top: 40% !important;
        left: 40% !important;
    }

}

/*Extra small devices (portrait phones, less than 450px)*/
@media (max-width: 450px) {
    .f-link {
        font-size: 10px;
        line-height: 12px;
    }
}

/*Extra small devices (portrait phones, less than 400px)*/
@media (max-width: 400px) {

}

/*Extra small devices (portrait phones, less than 350px)*/
@media (max-width: 350px) {
    .f-link{
        font-size: 8px;
        line-height: 9px;
    }
}
/*END-STYLES FOR MAX-WIDTH*/


/*STYLE-FOR-CONTAINER*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/*END-STYLE-FOR-CONTAINER*/

/*STYLE-FOR-LOADER*/
#wrap-loader {
    display: none;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%)
}

.loader-pr {
    margin: 10px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #b50905;
    width: 68px;
    height: 68px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*END-STYLE-FOR-LOADER*/